In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: <object object at 0x000001FBD5233510>

In [2]:
mete_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_水表层级.csv',encoding='gbk',converters={"水表号": str})
first_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_一季度.csv',encoding='gbk',converters={"水表号": str})
second_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_二季度.csv',encoding='gbk',converters={"水表号": str})
third_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_三季度.csv',encoding='gbk',converters={"水表号": str})
fourth_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_四季度.csv',encoding='gbk',converters={"水表号": str})

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
C:\Users\DELL\AppData\Local\Temp\ipykernel_1412\484368645.py:1: SyntaxWarning: invalid escape sequence '\D'
  mete_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_水表层级.csv',encoding='gbk',converters={"水表号": str})
C:\Users\DELL\AppData\Local\Temp\ipykernel_1412\484368645.py:2: SyntaxWarning: invalid escape sequence '\D'
  first_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_一季度.csv',encoding='gbk',converters={"水表号": str})
C:\Users\DELL\AppData\Local\Temp\ipykernel_1412\484368645.py:3: SyntaxWarning: invalid escape sequence '\D'
  second_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_二季度.csv',encoding='gbk',converters={"水表号": str})
C:\Users\DELL\AppData\Local\Temp\ipykernel_1412\484368645.py:4: SyntaxWarning: invalid escape sequence '\D'
  third_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_三季度.csv',encoding='gbk',converters={"水表号": str})
C:\Users\DELL\AppData\Local\Temp\ipykernel_1412\484368645.py:5: SyntaxWarning: invalid escape sequence '\D'
  fourth_level = pd.read_csv('E:\Dataspll_data\my_project\csv_data\shuomo2020_data\附件_四季度.csv',encoding='gbk',converters={"水表号": str})

In [3]:
mete_level.set_index('水表号',inplace=True)

1.统计、分析各个水表数据的变化规律，并给出校园内不同功能区（宿舍、教学楼、办公楼、食堂等）的用水特征。
2.结合校区水表层级关系，建立水表数据之间的关系模型，并利用已有数据分析模型误差。

In [4]:
first_level

           水表名         水表号                采集时间    上次读数    当前读数   用量
0       司法鉴定中心           0   2019/1/1 00:15:00  2157.1  2157.1  0.0
1       司法鉴定中心           0   2019/1/1 00:30:00  2157.1  2157.1  0.0
2       司法鉴定中心           0   2019/1/1 00:45:00  2157.1  2157.1  0.0
3       司法鉴定中心           0   2019/1/1 01:00:00  2157.1  2157.1  0.0
4       司法鉴定中心           0   2019/1/1 01:15:00  2157.1  2157.1  0.0
...        ...         ...                 ...     ...     ...  ...
729278      物业  3030100102  2019/3/31 22:45:00    50.9    50.9  0.0
729279      物业  3030100102  2019/3/31 23:00:00    50.9    50.9  0.0
729280      物业  3030100102  2019/3/31 23:15:00    50.9    50.9  0.0
729281      物业  3030100102  2019/3/31 23:30:00    50.9    50.9  0.0
729282      物业  3030100102  2019/3/31 23:45:00    50.9    50.9  0.0

[729283 rows x 6 columns]

In [5]:
first_level["采集时间"] =pd.to_datetime(first_level["采集时间"])

In [6]:
first_level_grouped = first_level.groupby('水表号')

In [ ]:
for meter_group in first_level_grouped:
    meter_number = meter_group[0]
    group_df = meter_group[1]
    print(meter_number)